div.contents{margin-top:6%}
nav#myNavbar li a{color:#2b7bec;}
a.navbar-brand{
	color: #fff!important;
    font-size: 18px;
    font-weight: bold;
    text-shadow: -2px -3px 1px #999!important;
    }
nav#myNavbar{ background: linear-gradient(#555 35%, #333 75%) repeat scroll 0 0 rgba(0, 0, 0, 0); }
ul.nav li a{color:#fff}
ul.nav li.active{background-color: #428bca!important;}
div.footer{padding-right: 5%;text-align:right;}
.multiselect{text-align:left;}